[junos_fw]
edge_fw1 ansible_host=10.10.0.1
srx1 ansible_host=10.10.0.46
srx2 ansible_host=10.10.0.45

[junos_sw]

[junos:children]
junos_fw
junos_sw

[junos:vars]
ansible_connection=network_cli
ansible_network_os=junos
ansible_python_interpreter=/home/natem/.local/share/virtualenvs/ansible-NoUM-OmT/bin/python
ansible_user=#########
ansible_ssh_pass=#########

[asa]
asa_1 ansible_host=10.10.0.43
asa_2 ansible_host=10.10.0.47

[asa:vars]
ansible_connection=network_cli
ansible_network_os=asa
ansible_python_interpreter=/home/natem/.local/share/virtualenvs/ansible-NoUM-OmT/bin/python
ansible_user=#########
ansible_ssh_pass=#########
ansible_become=yes
ansible_become_method=enable
ansible_become_pass=#########

[cisco:children]
asa

[network:children]
junos
cisco